/* Common */
body
{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

footer, ._footer
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

section, ._section
{
    margin-bottom: auto;
}

body *
{
    box-sizing: border-box;
}

input:focus
{
    outline: none;
}

ul
{
    padding: 0;
    list-style: none;
}

a
{
    text-decoration: none;
}
/* Common end */

/* Global */
._container,
._container-hd,
._container-thin
{
    padding: 0 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
}

._container
{
    max-width: 1200px;
    width: 1200px;
    position: relative;
}

@media (max-width: 1200px)
{
    ._container
    {
        width: 100%;
    }
}

._container-hd
{
    max-width: 1280px;
    width: 1280px;
    position: relative;
}

@media (max-width: 1280px)
{
    ._container-hd
    {
        width: 100%;
    }
}

._container-thin
{
    max-width: 1024px;
    width: 1024px;
    position: relative;
}

@media (max-width: 1024px)
{
    ._container-thin
    {
        width: 100%;
    }
}

._icon-left
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

._icon-left:before
{
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

._trans-250,
._trans-250:before,
._trans-250:after
{
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

._trans-250-full,
._trans-250-full:before,
._trans-250-full:after,
._trans-250-full *,
._trans-250-full *:before,
._trans-250-full *:after
{
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

._trans-500,
._trans-500:before,
._trans-500:after
{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

._trans-500-full,
._trans-500-full:before,
._trans-500-full:after,
._trans-500-full *,
._trans-500-full *:before,
._trans-500-full *:after
{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

._screen
{
    height: 100vh;
    width: 100vw;
}

._full
{
    height: 100%;
    width: 100%;
}
/* Global end */

/* Grid */
.--grid-2,
.--grid-3,
.--grid-4,
.--grid-5,
.--grid-6
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.--grid-2 > * { width: 50% }
.--grid-3 > * { width: 33.3% }
.--grid-4 > * { width: 25% }
.--grid-5 > * { width: 20% }
.--grid-6 > * { width: 16.6% }

@media (max-width: 1100px)
{
    .--grid-4 > * { width: 33.3% }
    .--grid-5 > * { width: 25% }
    .--grid-6 > * { width: 20% }
}

@media (max-width: 1024px)
{
    .--grid-5 > * { width: 33.3% }
    .--grid-6 > * { width: 25% }
}

@media (max-width: 900px)
{
    .--grid-3 > * { width: 50% }
    .--grid-6 > * { width: 33.3% }
}

@media (max-width: 768px)
{
    .--grid-2,
    .--grid-3,
    .--grid-4,
    .--grid-5,
    .--grid-6
    {
        justify-content: center;
    }

    .--grid-2 > *,
    .--grid-3 > *,
    .--grid-4 > *,
    .--grid-5 > *,
    .--grid-6 > *
    {
        width: 100%
    }
}
/* Grid end */

/* Tile */
.--tile-3,
.--tile-4
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

.--tile-3
{
    margin-left: calc((960px - 100%) / 4);
    margin-right: calc((960px - 100%) / 4);
}

.--tile-3 > *
{
    width: 320px;
    margin: 20px calc((100% - 960px) / 6);
}

.--tile-4
{
    margin-left: calc((1040px - 100%) / 6);
    margin-right: calc((1040px - 100%) / 6);
}

.--tile-4 > *
{
    width: 260px;
    margin: 20px calc((100% - 1040px) / 8);
}

@media (max-width: 1100px)
{
    .--tile-4 > *
    {
        margin: 20px calc((100% - 780px) / 6);
    }
}

@media (max-width: 1024px)
{
    .--tile-3
    {
        margin-left: 0;
        margin-right: 0;
    }
    .--tile-3 > *
    {
        margin: 20px calc((100% - 640px) / 4);
    }
}

@media (max-width: 900px)
{
    .--tile-4 > *
    {
        margin: 20px calc((100% - 520px) / 4);
    }
}

@media (max-width: 768px)
{
    .--tile-3,
    .--tile-4
    {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }

    .--tile-3 > *,
    .--tile-4 > *
    {
        margin: 20px 0;
    }
}

@media (max-width: 340px)
{
    .--tile-3 > *,
    .--tile-4 > *
    {
        width: 100%!important;
    }
}
/* Tile end */

/* Position */
/* part */
.--part-1 { width: 10% }
.--part-2 { width: 20% }
.--part-3 { width: 30% }
.--part-4 { width: 40% }
.--part-5 { width: 50% }
.--part-6 { width: 60% }
.--part-7 { width: 70% }
.--part-8 { width: 80% }
.--part-9 { width: 90% }

@media (max-width: 768px)
{
    .--part-1,
    .--part-2,
    .--part-3,
    .--part-4,
    .--part-5,
    .--part-6,
    .--part-7,
    .--part-8,
    .--part-9
    {
        width: 100%;
    }
}
/* rows and column */
.--row,
.--col
{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

.--row > *,
.--col > *
{
    flex-grow: 1;
}

.--row
{
    flex-direction: row;
}

.--row img
{
    margin: auto;
}

@media (max-width: 768px)
{
    .--row
    {
        flex-direction: column;
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

.--col
{
    flex-direction: column;
}

.--col img
{
    margin: auto;
}

@media (max-width: 768px)
{
    .--col
    {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

/* directions */
.--left,
.--right,
.--center,
.--top,
.--bottom,
.--around,
.--between
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    height: 100%;
}

.--center
{
    justify-content: center;
    align-items: center;
}

.--left
{
    justify-content: flex-start;
}

.--right
{
    justify-content: flex-end;
}

.--top
{
    align-items: flex-start;
}

.--bottom
{
    align-items: flex-end;
}

.--around
{
    justify-content: space-around;
}

.--between
{
    justify-content: space-between;
}

@media (max-width: 768px)
{
    .--center
    {
        justify-content: center;
    }

    .--left,
    .--right,
    .--top,
    .--bottom,
    .--center,
    .--around,
    .--between
    {
        flex-direction: column;
        align-items: center;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .--top.--center
    {
        justify-content: flex-start;
    }

    .--bottom.--center
    {
        justify-content: flex-end;
    }
}

/* directions with column and rows */
.--col.--left,
.--col.--right,
.--col.--top,
.--col.--bottom,
.--col.--around,
.--col.--between,
.--col.--center
{
    flex-direction: column;
}

.--col.--center
{
    justify-content: center;
    align-items: center;
}

.--col.--left
{
    align-items: flex-start;
    justify-content: flex-start;
}

.--col.--right
{
    align-items: flex-end;
    justify-content: flex-start;
}

.--col.--top
{
    justify-content: flex-start;
    align-items: flex-start;
}

.--col.--bottom
{
    justify-content: flex-end;
    align-items: flex-start;
}

.--col.--between
{
    justify-content: space-between;
}

.--col.--around
{
    justify-content: space-around;
}

.--col.--top.--center,
.--col.--bottom.--center
{
    align-items: center;
}

.--col.--left.--center,
.--col.--right.--center
{
    justify-content: center;
}

.--col.--top.--right,
.--col.--bottom.--right
{
    align-items: flex-end;
}

.--col.--left > *,
.--col.--right > *,
.--col.--top > *,
.--col.--bottom > *,
.--col.--around > *,
.--col.--between > *,
.--col.--center > *,
.--row.--left > *,
.--row.--right > *,
.--row.--top > *,
.--row.--bottom > *,
.--row.--around > *,
.--row.--between > * ,
.--row.--center > *
{
    flex-grow: 0;
}

@media (max-width: 768px)
{
    .--col.--right,
    .--col.--left,
    .--col.--top,
    .--col.--bottom,
    .--col.--top.--right,
    .--col.--bottom.--right,
    .--col.--top.--center,
    .--col.--bottom.--center
    {
        align-items: center;
    }
}

/* additional */
.--nowrap
{
    flex-wrap: nowrap;
}

.--static
{
    flex-direction: row!important;
}
/* Position end */

/* Hide */
@media (max-width: 1024px)
{
    ._hide-1024
    {
        display: none;
    }
}

@media (max-width: 768px)
{
    ._hide-768
    {
        display: none;
    }
}

@media (max-width: 420px)
{
    ._hide-420
    {
        display: none;
    }
}
/* Hide end 